page-about {

    .conn-back-img{
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 0;
        background-image: url(../../assets/imgs/Listback/about.png);
        background-position: center;
        background-size: cover;
        text-align: right;
 

    }
    .conn-back-img img{
        height: 100px;
        width: 100px;
        border-radius: 100%;
        float: left;
        margin: 37px 0 0px 50px;
    }
 

    .conn-back-img p {
        margin: 0;
        padding: 75px 50px 0 0;
        color: #f5f5f5;
        font-size: 16px;
    }


 
    .conn-btn-details{
        width: 100%;
        height: 90px;
        background-color: #6A3CB8;
        padding: 0;
        margin: 0; 
        overflow: hidden;
    }
    .conn-btn-details .btninfo{
        width: 49%;
        color: black;
        margin: 0;
        padding: 40px 0;
        background-color:#2699fb;
        font-size: 17px;
        color: #f5f5f5;
        height: 100%;
  
    }


    .conn-btn-details .btninfo:last-child {
        background-color:  #6A3CB8;
         float: right;
    }
    
    .conn-personal-info{
        width: 100%;
        height: 80px;

    }

    .conn-info{
        height: 100%;
        text-align: center;
   border-bottom: 1px solid #4752a5;
        overflow: hidden;
        padding: 0;
        color: #fff;
    }


    .conn-info img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 17px;
        display: inline;
    }

    .conn-info .info{
        float: left;
        margin: 27px 0 0 0px;
        width: 30%;
}
.conn-info .pro{
    float: right;
    margin: 27px 0 0 0;
    width: 30%;
}


.conn-about-mob{
    direction: rtl;
    width: 100%;
    margin: 0;
    text-align: justify;
    padding: 0;
    overflow: hidden;
 
}

.conn-about-mob div{
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 10px 0;
    font-family: 'logoFont';
    color: #f5f5f5;
}

p{
    margin: 0;
    padding: 0 10px;
    height: 100%;
    font-size: 4vw;
    font-weight: 100;
  color: #f5f5f5;
}

.conn-about-mob p span{
    font-family: 'logoFont';
    color: #d8d8d8
}

a{
    text-decoration: none;
    color: #ffffff;
    padding: 7px 10px;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    margin: 5px;
    display: block;
    text-align: center;
}

}


