page-back-injuries {
    body, ion-item, ion-title, ul {
        font-family: 'kufi' !important;
        }

    ul{
        padding-right: 15px;
        text-align: justify;
        margin: 10px 0px 15px 0;
    }

.menus{
    display: inline-block !important;
    position: absolute;
    left: 0 ;
     color: #fff
}



button{
    display: inline-block !important;
}



.con-deta a{
    text-decoration: none;
    color: #2699fb;
    padding: 3px 10px;
    border: 1px solid #2699fb;
    border-radius: 10px;
    margin: 5px;
    display: block;
    text-align: center;
}

}
