page-transportation {
    body, ion-item, ion-title, ul {
        font-family: 'kufi' !important;
        }

    ul{
        padding-right: 15px;
        text-align: justify;
        margin: 10px 0px 15px 0;
    }

.menus{
    display: inline-block !important;
    position: absolute;
    left: 0 ;
     color: #fff
}



button{
    display: inline-block !important;
}



}
